<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Формирование трудовых договоров</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/static/styles.css"> <!-- Стиль проекта -->
</head>
<body>
<div class="app-container">
    <header>
        <h1>Система автоматизации предприятия</h1>
    </header>

    <div class="grid-container">
        <!--        Заполнение трудовых договоров-->
        <div class="feature-card">
            <div class="feature-icon"><i class="fas fa-file-contract"></i></div>
            <div class="feature-title">Формирование договоров</div>
            <div class="feature-description">Автоматизация создания трудовых договоров по шаблонам</div>
            <button class="action-button" onclick="handleAction(2)">Создать договоры</button>
        </div>

        <div class="feature-card">
            <div class="feature-icon"><i class="fas fa-database"></i></div>
            <div class="feature-title">Управление БД</div>
            <div class="feature-description">Импорт/экспорт данных в центральную базу данных</div>
            <button class="action-button" onclick="location.href='/import_excel'">Работа с БД</button>
        </div>

        <div class="feature-card">
            <div class="feature-icon"><i class="fas fa-file-signature"></i></div>
            <div class="feature-title">Получение документов</div>
            <div class="feature-description">Формирование и выгрузка трудовых договоров</div>
            <button class="action-button" onclick="handleAction(5)">Получить договор</button>
        </div>

        <div class="feature-card">
            <div class="feature-icon"><i class="fas fa-file-alt"></i></div>
            <div class="feature-title">Доп. соглашения</div>
            <div class="feature-description">Создание дополнительных соглашений к договорам на простой предприятия</div>
            <button class="action-button" onclick="handleAction(8)">Создать соглашения</button>
        </div>

        <div class="feature-card">
            <div class="feature-icon"><i class="fas fa-clock"></i></div>
            <div class="feature-title">Неполная занятость</div>
            <div class="feature-description">Формирование соглашений о неполном рабочем дне</div>
            <button class="action-button" onclick="handleAction(9)">Создать соглашение</button>
        </div>

        <div class="feature-card">
            <div class="feature-icon"><i class="fas fa-heartbeat"></i></div>
            <div class="feature-title">Медицинские соглашения</div>
            <div class="feature-description">Создание соглашений по состоянию здоровья</div>
            <button class="action-button" onclick="handleAction(10)">Создать документ</button>
        </div>

        <!--Дополнительное соглашение перевод на другую работу-->
        <div class="feature-card">
            <div class="feature-icon"><i class="fas fa-file-signature"></i></div>
            <div class="feature-title">Доп. соглашения</div>
            <div class="feature-description">Перевод на другую работу</div>
            <button class="action-button" onclick="handleAction(11)">Получить договор</button>
        </div>

    </div>

    <footer>
        © 2024 Программа для автоматизации задач предприятия. Все права защищены.
    </footer>
</div>

<script>
    async function handleAction(actionId) {
        try {
            const response = await fetch('/action', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `user_input=${actionId}`,
            });

            if (response.ok) {
                // Если сервер вернул Redirect (код 303), перенаправляем на URL из ответа
                const url = response.url;
                window.location.href = url;
            } else {
                alert('Ошибка при выполнении действия!');
            }
        } catch (error) {
            console.error('Ошибка:', error);
            alert('Произошла ошибка!');
        }
    }
</script>
</body>
</html>