<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Получение трудового договора</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="app-container">
    <header>
        <h1>Система автоматизации предприятия</h1>
    </header>
    <div class="grid-container">
        <div class="feature-card">
            <form action="/get_contract" method="POST">
                <fieldset>
                    <legend>Получение договора</legend>
                    <div class="form-group">
                        <label for="tab_number">Табельный номер (4-8 символов):</label>
                        <input type="text" id="tab_number" name="tab_number" required minlength="4" maxlength="8"
                               size="10">
                    </div>
                    <div class="buttons-container primary">
                        <button type="submit" class="action-button primary">Получить договор</button>
                    </div>
                    <div class="buttons-container secondary">
                        <button onclick="window.location.href='/'" class="action-button secondary">На главную страницу</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
    <footer>
        © 2024 Программа для автоматизации задач предприятия. Все права защищены.
    </footer>
</div>
</body>
</html>