<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запись данных в базу данных</title>

    <link rel="stylesheet" href="/static/styles.css"> <!-- Стиль проекта -->

</head>
<body>
<form action="/import_excel" method="post">
    <fieldset>
        <legend>Введите данные</legend>
        <label for="min_row">Начальная строка</label>
        <input id="min_row" name="min_row" type="number" required/><br><br>
        <label for="max_row">Конечная строка</label>
        <input id="max_row" name="max_row" type="number" required/><br><br>

        <button class="custom-button" type="submit">Записать данные</button>
    </fieldset>
</form>
</body>
</html>
