<!-- templates/loading.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Импорт данных</title>
</head>
<body>
<h1>Формирование базы данных...</h1>
<p>Пожалуйста, подождите, пока база данных формируется.</p>

<script>
    setInterval(function()
    {
        $('#hid').load(document.URL +  ' #hid');
    }, 1000)
</script>


<div class="jumbotron" style="margin-top: 10px">
    <h1 class="display-4">Моя ферма</h1>
    <p class="lead">Текст</p>
    <hr class="my-4">
    <div id='temp'>Температура: {{ temp.temp }}</div>
    <br>
    <div id='hid'>Влажность: {{ hid.hid}}</div>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="http://172.25.1.162:8000/"
           role="button">Обновить</a>
    </p>
</div>


</body>
</html>
